<div class="wrapper">
    <h1><i class="fa fa-twitter"></i> Happening Right Now</h1>
    <p>
        Displaying 100 randomly sampled tweets using the following hashtags:
        <% for tag in @hash_tags %>
            <a target="_blank" href="https://twitter.com/search?q=<%= tag %>" class="badge"><b><%= tag %> </b></a>
        <% end %>
    </p>

    <ul id="tweets" class="list-group">
        <% for tweet in @tweets.shuffle %>
            <li class="list-group-item">
                <a class="profile-picture" target="_blank" href="https://twitter.com/<%= tweet.user.screen_name %>"><img src="<%= tweet.user.profile_image_url_https %>" /></a>

                <div class="tweet-details">
                    <h2><a target="_blank" href="https://twitter.com/<%= tweet.user.screen_name %>">@<%= tweet.user.screen_name %></a></h2>
                    <p><%= tweet.text %></p>
                </div>
            </li>
        <% end %>
    </ul>
</div>

<script type="text/javascript">
var dispatcher = new WebSocketRails('localhost:3001/websocket');
var channel = dispatcher.subscribe('tweets');
channel.bind('new_tweet', function(data) {
    console.log('new tweet received: ' + data);
});

dispatcher.bind('connected', function(data) {
  console.log(data);
});
</script>