<section id="coverphoto">
        <div class="bg-photo" style="background-image: url(<%= @candidate.photos[0].url %>)">
            <div class="container">
                <div class="center">
                    <div class="float-right">
                        <h1><%= @candidate.full_name %></h1>
                        <div class="float-up">
                            <h2><%= @candidate.title %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="<%= @candidate.party_affiliation.downcase %>" id="on-the-issues">
    <div class="container">
        <div class="center">
            <h2><%= @candidate.last_name %>'s Top Issues</h2>
            <p><%= @candidate.issues_overview %></p>
        </div>

        <div class="row">
            <div class="issues">
                <% for issue in @candidate.issues %>
                    <div class="col-md-4 col-sm-6">
                        <div class="issue-spacing">
                            <i class="<%= issue.fa %>"></i>
                            <h2><%= issue.title %></h2>
                            <h3><%= issue.desc %></h3>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section class="<%= @candidate.party_affiliation.downcase %>" id="about">
    <div class="container">
        <div class="center">
            <h2><%= @candidate.last_name %>'s roots</h2>
            <p><%= @candidate.bio %></p>

            <div class="float-down">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h3>Upbringings</h3>

                        <ul>
                            <li><%= @candidate.city_of_birth %></li>
                            <li><%= @candidate.family_bio %></li>
                            <li><%= @candidate.school %></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3>Accomplishments</h3>

                        <ul>
                            <% for accomplishment in @candidate.accomplishments %>
                                <li><%= accomplishment.text %></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3>Strange facts</h3>

                        <ul>
                            <% for fact in @candidate.strange_facts %>
                                <li><%= fact.text %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>

                <div class="center">
                    <p><a href = "<%= @candidate.site_url %>"> <%= @candidate.site_url %> </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="<%= @candidate.rival_party.downcase %>" id="speeches-debates">
    <div class="container">
        <div class="center">
            <h2>Why <%= @candidate.full_name %>?</h2>
            <iframe width="750" height="350" src="<%= @candidate.videos.last.embed_url %>" frameborder="0" allowfullscreen allowtransparency="true"> </iframe>
        </div>
    </div>
</section>

<section id="footerphoto">
    <div class="bg-photo" style="background-image: url(<%= @candidate.photos[1].url %>)">
        <div class="shade-photo">
            <div class="container">
                <div class="center">
                    <h1>So, the question remains</h1>
                    <h2>Who will UBVoting for?</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<% content_for :javascript_includes do %>
<%= javascript_include_tag "candidates.js" %>
<% end %>